body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

.container {
    max-width: 1240px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

p {
    font-size: 14px;
    margin-bottom: 16px;
}

.terms-link {
    color: blue;
    text-decoration: underline;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.next-button {
    background-color: black;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #444;
}

.checkbox-container button{
    padding: 10px 20px;
}